Repository HolographicWings/TOTK-Mods-collection, pull requests merged in 2023-05, with the labels that each got.

#7 Readability improvements
  README.md
Labels: documentation, fixed

#16 Add README to display images in Guide
  Guide/README.md
Labels: documentation

#17 Add 120 FPS Mod + DynamicFPS v1.41
  Mods/Combo - 120fps v3 + DynamicFPS v1.41/exefs/1.1.0.pchtxt
  Mods/Combo - 120fps v3 + DynamicFPS v1.41/exefs/credits to ChucksFeedAndSeed.txt
  Mods/Combo - 120fps v3 + DynamicFPS v1.41/exefs/main.npdm
  Mods/Combo - 120fps v3 + DynamicFPS v1.41/exefs/subsdk9
Labels: addition, added to mods

#59 Add 1.1.1 support for 1080p mod
  Mods/Graphics/1.1.1, 1.1.0 - Resolution - 1080p - Breaks Ambient Occlusion over 1x scaling/exefs/1.1.0.pchtxt
  Mods/Graphics/1.1.1, 1.1.0 - Resolution - 1080p - Breaks Ambient Occlusion over 1x scaling/exefs/1.1.1.pchtxt
Labels: addition, added to mods
